.aica {
    height: 24px;
    width: 24px;
}


.home {
    font-family: var(--font-family);
}

.dashboard-all {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 724px;
    width: 1440px;
}

    .dashboard-header {
        display: flex;
        justify-content: flex-start;
    }

    .dashboard-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        column-gap: 20px;
    }

    .dashboard-container-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        height: 600px;
        width: 440px;
    }
        .dashboard-container-left-top{
            background-color: var(--white-color);
            height: 400px;
            width: 440px;
            border-radius: 20px;
        }   
                .available_crew-header {
                    display: flex;
                }
                .available_crew-header-text {
                    font-size: var(--font-size-16);
                    font-weight: var(--font-weight-semibold);
                }
                .available_crew-indicator {
                    display: flex;
                }
                .available_crew-indicator-total {
                    font-weight: var(--font-weight-bold);
                    font-size: var(--font-size-28);
                }
                .available_crew-indicator-complete {
                    color: #36c081;
                }
                .available_crew-job_title-text{
                    font-weight: var(--font-weight-regular);
                    font-size: var(--font-size-16);
                }
                .job_title-container {
                    display: flex;
                    flex-wrap: wrap;
                }   
                    .job_title-container-1 {
                        display: flex;
                        background-color: var( --background-color-opacity-50);
                    }   
                        .job_title-container-1-text {
                            font-weight: var(--font-weight-bold);
                            font-size: var(--font-size-16);
                        }


                    .job_title-container-2 {
                        display: flex;
                        background-color: var( --background-color-opacity-50);
                    }
                        .job_title-container-2-text {
                            font-weight: var(--font-weight-bold);
                            font-size: var(--font-size-16);
                        }
                    .job_title-container-3 {
                        display: flex;
                        background-color: var( --background-color-opacity-50);
                    }
                        .job_title-container-3-text {
                            font-weight: var(--font-weight-bold);
                            font-size: var(--font-size-16);
                        }

        .dashboard-container-left-bottom {
            background-color:var(--white-color);
            height: 180px;
            width: 440px;
            border-radius: 20px;
        }   
            .weekly_new-header-text {
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-semibold);
            }
            .weekly_new-indicator {
                display: flex;
            }
            .weekly_new-header-total {
                font-weight: var(--font-weight-bold);
                font-size: var(--font-size-28);
            }
            .weekly_new-header-today{
                display: flex;
                color: #36c081;
            }

    .dashboard-container-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        height: 600px;
        width: 380px;
    }
        .dashboard-container-middle-top {
            background-color:var(--white-color);
            height: 290px;
            width: 380px;
            border-radius: 20px;
        }   

            .coming_today-header {
                    display: flex;
            }
            .coming_today-header-text{
                font-size: var(--font-size-16);
                font-weight: var(--font-weight-semibold);

            }
                .coming_today-indicator-text {
                    font-weight: var(--font-weight-bold);
                    font-size: var(--font-size-28);
                }
                .coming_today-indicator-date {
                    display: flex;
                    flex-direction: column;
                }

                .coming_today-indicator-date-text{
                    font-weight: var(--font-weight-regular);
                    font-size: var(--font-size-16);  
                }
                .coming_today-indicator-date-time{
                    font-weight: var(--font-weight-medium);
                    font-size: var(--font-size-16);  
                }

        .dashboard-container-middle-bottom {
            background-color:var(--white-color);
            height: 300px;
            width:  380px;
            border-radius: 20px;
        }   

            .upcoming_appointment-header {
                display: flex;
            }

            .upcoming_appointment-indicator-text{
                font-weight: var(--font-weight-bold);
                font-size: var(--font-size-28);  
            }
            .upcoming_appointment-indicator-date {
                display: flex;
                flex-direction: column;    
            }

        .dashboard-container-right {
            background-color:var(--white-color);
            height: 600px;
            width: 330px;
            border-radius: 20px;
        }

    .expiring_certificate-header {
        display: flex;
    }

    .expiring_certificate-header-text{
        font-size: var(--font-size-32);
        font-weight: var(--font-weight-regular);
    }
    .expiring_certificate-container-top {
        display: flex;
    }
    .expiring_certificate-container-top-text{
        flex-direction: column;
    }
    .expiring_certificate-container-bottom{
        display: flex;
    }
    .expiring_certificate-container-bottom-left{
        display: flex;
    }
    .expiring_certificate-container-right{
        display: flex;
        flex-direction: column;
        text-align: right;
    }



.scheduled_appointment-container{
    display: flex;
    align-items: center;
    background-color: rgb(198, 25, 25);
    height: 120px;
    width: 800px;
    
    border-radius: 10px;
}
    .scheduled_appointment-indicator{
    background-color: rgb(85, 9, 207);
    height: 120px;
    width: 20px;
    
    border-radius: 10px;
    }
    .scheduled_appointment-date{
        display: flex;
        flex-direction: column;
    }
    .scheduled_appointment-separator{
        background-color: rgb(9, 207, 118);
        height: 120px;
    width: 20px;
    }
    .scheduled_appointment-time{
        display: flex;
        flex-direction: column;
    }
    .scheduled_appointment-profile{
        display: flex;
    }
    .scheduled_appointment-profile-details{
        display: flex;
        flex-direction: column;
    }
    .scheduled_appointment-job_title-container {
        display: flex;
        background-color: rgb(185, 204, 196);
    }
    .scheduled_appointment-contact{
        display: flex;
        flex-direction: column; 
    }
    .scheduled_appointment-mobile{
        display: flex;
    }
    .scheduled_appointment-email{
        display: flex;
    }
    .scheduled_appointment-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scheduled_appointment-button img{
        height: 30px;
        width: 30px;
        background-color: aquamarine;
        display: flex;
        justify-content: center;
        align-items: center;
    }













    .scheduled_appointment-date-day {
        font-size: var(--font-size-24);
        font-weight: var(--font-weight-regular);
    }
    .scheduled_appointment-date-date {
        font-size: var(--font-size-40);
        font-weight: var(--font-weight-bold);
    }