* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #727272; 
    padding: 10px 20px;
    position: sticky;
    top: 0; 
    z-index: 1000;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
