.login {
	display: flex;
	flex-direction: row;
	background-color: var(--secondary-color);

	width: 100vw; /* Ensures it covers the full viewport width */
  height: 100vh; /* Full viewport height */
  box-sizing: border-box;
}
	.login-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		height: 100%;
		width: 55%;
		padding: 40px;
	}
		.login-left-top {
			display: flex;
			justify-content: flex-start;
		}
			.login-left-top img {
				height: 24px;
				width: auto;
			}
		.login-left-bottom {
			height: 860px;
			width: auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}
			.login-left-bottom img {
				height: 100%;
				width: auto;
			}


	.login-right {
		width: 45%;
		height: 100%;
		padding:20px;
		box-sizing: border-box;
	}
		.login-right-padding {
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: 60px;
			row-gap: 40px;
			background-color: var(--white-color);
			border-radius: 20px;
			box-shadow: 0px 0px 200px var(--primary-color-opacity-10);
		}
			.login-right-header {
				display: flex;
				flex-direction: column;
				color: var(--black-color);
				line-height: 1.4;
				margin-bottom: 40px;
			}
				.login-right-header-sub {
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-16);
					color: var(--black-color-opacity-45);
				}
				.login-right-header-heading {
					font-weight: var(--font-weight-semibold);
					font-size: var(--font-size-32);
					color: var(--black-color);
				}
			.login-right-form {
				
			}
				.login-right-form-form {
					display: flex;
					flex-direction: column;
					row-gap: 40px;
				}

					.login-right-form-form label {
						font-weight: var(--font-weight-medium);
						font-size: var(--font-size-16);
						color: var(--black-color);
					}

					.login-right-form-form input {
						height: 58px;
						width: 100;
						padding: 20px;
						text-align: left;
						background-color: var(--secondary-color);
						border: 2px solid var(--primary-color-opacity-15);
						border-radius: 8px;
					}

					.login-right-form-form input::placeholder{
						font-weight: var(--font-weight-light);
						font-size: var(--font-size-12);
						color: var(--black-color-opacity-45);
					}

					.login-right-form-email {
						display: flex;
						flex-direction: column;
						row-gap: 16px;
					}

					.login-right-form-password {
						display: flex;
						flex-direction: column;
						row-gap: 16px;
					}

			.login-right-options {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
				.login-right-options-remember {
					display: flex;
					flex-direction: row;
					align-items: center;
					column-gap: 12px;
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-16);
					color: var(--black-color);
					margin-bottom: 40px;
				}
					.login-right-options-remember input[type="checkbox"] {
						width: 20px;
						height: 20px;
						border: 2px solid var(--black-color); 
						border-radius: 4px;
					} 

				

				.login-right-options-forgot {
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-16);
					color: var(--primary-color);
				}
					.login-right-options-forgot button{
						all: unset;
					}

			.login-right-button {
				
			}
				.login-right-button button{
					all: unset;
					height: 58px;
					width: 100%;
					text-align: center;
					font-weight: var(--font-weight-semibold);
					font-size: var(--font-size-20);
					color: var(--white-color);
					background-color: var(--primary-color);
					border-radius: 100px;
				}

			.login-right-spacer {
				flex-grow: 1;
			}
			.login-right-signup {
				display: flex;
				flex-direction: row;
				justify-content: center;
			}
				.login-right-signup-text {
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-16);
					color: var(--black-color-opacity-45);
				}

				.login-right-signup button {
					all: unset;
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-16);
					color: var(--primary-color);
				}