.notification-cards-card {  
	/* background-color: mediumseagreen;  */
	
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--white-color);
	height: 20vh;
	width: 100%;
	border-radius: 12px;
	/* !!! CHANGE ALL FROM 20PX TO 12PX */
	box-shadow: 0px 0px 20px rgba(0, 136, 154, 0.10); 
}

	.notification-cards-card-indicator {  
		/* background-color: seagreen;  */
		height: 100%;
		width: 1.4%;
		/* !!! CHANGE ALL FROM 1.8% TO 1.4% */
		background-color: var(--green-indicator);
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		/* !!! CHANGE ALL FROM 20PX TO 12PX */
	}

	.notification-cards-card-info {  
		/* background-color: palegreen;  */
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		height: 100%;
		width: 64.6%; 
		padding-left: 1vw;
		column-gap: 1vw;
	}

		.notification-cards-card-info-details {  
			/* background-color: darkolivegreen;  */
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			height: 100%;
			row-gap: 1.4vh;
		}

			.notification-cards-card-info-details-main {  
				/* background-color: olive;  */
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: center;
				column-gap: 1vh;
				
			}

				.notification-cards-card-info-details-main-name {  
					/* background-color: yellowgreen;  */
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-16);
					color: var(--black-color);
				}

				.notification-cards-card-info-details-main-time {  
					/* background-color: greenyellow;  */
					font-weight: var(--font-weight-light);
					font-size: var(--font-size-8);
					color: var(--black-color-opacity-60);
				}

				.notification-cards-card-info-details-main-role {  
					/* background-color: lawngreen;  */
					font-weight: var(--font-weight-light);
					font-size: var(--font-size-8);
					color: var(--black-color-opacity-60);
				}

			.notification-cards-card-info-details-sub {  
				/* background-color: chartreuse;  */
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: start;
				column-gap: 1vh;
			}

				.notification-cards-card-info-details-sub-detail {  
					/* background-color: lightgreen;  */
					font-weight: var(--font-weight-light);
					font-size: var(--font-size-16);
					color: var(--black-color);
				}

				.notification-cards-card-info-details-sub-name {  
					/* background-color: mediumaquamarine; */
					font-weight: var(--font-weight-medium);
					font-size: var(--font-size-16);
					color: var(--black-color); 
				}

			.notification-cards-card-info-details-box {  
				/* background-color: darkred;  */
				display: flex;
				flex-direction: row;
				column-gap: 1vh;
			}

				.notification-cards-card-info-details-box-date {  
					/* background-color: crimson;  */
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					column-gap: 1vh;
					padding: 1vh;
					background-color: var(--secondary-color-opacity-60);
					border-radius: 8px;
					border: 2px solid var(--primary-color-opacity-15);
				}

					.notification-cards-card-info-details-box-date-day {  
						/* background-color: firebrick;  */
						display: flex;
						flex-direction: column;
					}

						.notification-cards-card-info-details-box-date-day-day {  
							/* background-color: indianred;  */
							font-weight: var(--font-weight-light);
							font-size: var(--font-size-8);
							color: var(--black-color-opacity-60);
						}

						.notification-cards-card-info-details-box-date-day-date {  
							/* background-color: lightcoral;  */
							font-weight: var(--font-weight-medium);
							font-size: var(--font-size-12);
							color: var(--black-color);
						}

				.notification-cards-card-info-details-box-start {  
					/* background-color: sienna; */
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					column-gap: 1vh;
					padding: 1vh;
					background-color: var(--secondary-color-opacity-60);
					border-radius: 8px;
					border: 2px solid var(--primary-color-opacity-15);
				}

					.notification-cards-card-info-details-box-start-time {  
						/* background-color: peru;  */
						display: flex;
						flex-direction: column;
					}

						.notification-cards-card-info-details-box-start-time-text {  
							/* background-color: sandybrown;  */
							font-weight: var(--font-weight-light);
							font-size: var(--font-size-8);
							color: var(--black-color-opacity-60);
						}

						.notification-cards-card-info-details-box-start-time-date {  
							/* background-color: burlywood;  */
							font-weight: var(--font-weight-medium);
							font-size: var(--font-size-12);
							color: var(--black-color);
						}

				.notification-cards-card-info-details-box-end {  
					/* background-color: chocolate;  */
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					column-gap: 1vh;
					padding: 1vh;
					background-color: var(--secondary-color-opacity-60);
					border-radius: 8px;
					border: 2px solid var(--primary-color-opacity-15);
				}

					.notification-cards-card-info-details-box-end-time {  
						/* background-color: tan;  */
						display: flex;
						flex-direction: column;
					}

						.notification-cards-card-info-details-box-end-time-text {  
							/* background-color: moccasin;  */
							font-weight: var(--font-weight-light);
							font-size: var(--font-size-8);
							color: var(--black-color-opacity-60);
						}

						.notification-cards-card-info-details-box-end-time-date {  
							/* background-color: wheat;  */
							font-weight: var(--font-weight-medium);
							font-size: var(--font-size-12);
							color: var(--black-color);
						}