/* Overlay */
.add_record-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Container */
.add_record-overlay-modal {
  background-color: var(--white-color);
  padding: 24px;
  border-radius: 8px;
  width: 420px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Modal Heading */
.add_record-overlay-modal-heading {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-bottom: 20px;
  color: var(--black-color);
}

/* Form Styles */
.add_record-form {
  display: flex;
  flex-direction: column;
}

/* Label */
.add_record-label {
  margin-bottom: 8px;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  color: var(--black-color);
}

/* Input */
.add_record-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: var(--border-width-2) var(--border-style-solid) var(--black-color-opacity-20);
  border-radius: 8px;
  font-size: var(--font-size-12);
}

/* Textarea */
.add_record-textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: var(--border-width-2) var(--border-style-solid) var(--black-color-opacity-20);
  border-radius: 8px;
  font-size: var(--font-size-12);
  resize: none;
}

/* Message */
.message {
  font-size: var(--font-size-12);
  color: var(--green-indicator);
  margin-bottom: 16px;
  text-align: center;
}

/* Buttons Container */
.add_record-buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

/* Button Styles */
.add_record-button {
  padding: 0 16px;
  height: 40px;
  width: 48%;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: var(--border-width-2) var(--border-style-solid) var(--primary-color);
  border-radius: 8px;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-semibold);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add_record-button:hover {
  background-color: var(--primary-color-opacity-60);
  color: var(--white-color);
}

/* Cancel Button */
.add_record-buttons-cancel {
  background-color: var(--red-indicator-opacity-30);
  color: var(--red-indicator);
}

.add_record-buttons-cancel:hover {
  background-color: var(--red-indicator);
  color: var(--white-color);
}

/* Submit Button */
.add_record-buttons-submit {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.add_record-buttons-submit:hover {
  background-color: var(--primary-color-opacity-60);
}
