* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.homeUser{ 
	background-color: darkred; 
	max-height: 100vh;
  max-width: 100vw;
} 
.homeUser-box { 
	background-color: firebrick;
	height: 100%;
  width: 100%;
  padding-top: 72px;
  padding-left: 72px;
} 
.homeUser-box-in { 
	background-color: indianred;
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  background-color: var(--secondary-color);
  padding: 40px;
  row-gap: 6vh;   
} 

.homeUser-top { 
	background-color: lightcoral; 
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 64vh;
} 
  .homeUser-top-header { background-color: salmon; 
		display: flex;
		justify-content: space-between;
		
	} 
    .homeUser-top-header-left { background-color: lightsalmon; 
			display: flex;
			align-items: center;
			font-weight: var(--font-weight-medium);
      font-size: var(--font-size-24);
      color: var(--black-color);
			
		} 
    .homeUser-top-header-right { background-color: mistyrose; 
			display: flex;
			align-items: center;
			font-weight: var(--font-weight-medium);
      font-size: var(--font-size-16);
      color: var(--black-color);
		
		} 

			.homeUser-top-header-right-status {
				background-color: var(--white-color);
				padding: 0.8vh;
				border-radius: 500px;

			}
				.homeUser-top-header-right-status-in {
					background-color: var(--green-indicator-opacity-30);
					display: flex;
					justify-content: center;
					align-items: center;
					column-gap: 1vh;
					padding: 1vh 2vh;
					border-radius: 500px;
				}

			.homeUser-top-header-right-btn {
				background-color: slategrey;
				all: unset;
				background-color: var(--white-color);
				width: 8vh;
				height: 7.8 vh;
				border-radius: 500px;
			}
  .homeUser-top-core { background-color: darkgreen; 
		display: flex;
		
	} 
    .homeUser-top-core-left { background-color: forestgreen; 
			display: flex;
			flex-direction: column;
		} 
      .homeUser-top-core-left-header { background-color: mediumseagreen; 
				display: flex;
				
			} 
      .homeUser-top-core-left-heading { background-color: palegreen; } 

      .homeUser-top-core-left-date { background-color: lightgreen; 
				display: flex;
				
			} 
        .homeUser-top-core-left-date-cal { background-color: honeydew; 
					display: flex;
					flex-direction: column;
				} 
        .homeUser-top-core-left-date-data { background-color: darkblue; } 
          .homeUser-top-core-left-date-data-text { background-color: dodgerblue; } 
            .homeUser-top-core-left-date-data-text-regular { background-color: deepskyblue; } 
            .homeUser-top-core-left-date-data-text-light { background-color: lightskyblue; }

          .homeUser-top-core-left-date-data-cards { background-color: darkorange; 
						display: flex;
						
					} 
            .homeUser-top-core-left-date-data-cards-start { background-color: orange; 
							display: flex;
							
						} 

              .homeUser-top-core-left-date-data-cards-start-text { background-color: lightyellow; } 

            .homeUser-top-core-left-date-data-cards-end { background-color: gold;
							display: flex; 
							
						} 

              .homeUser-top-core-left-date-data-cards-end-text { background-color: lightgoldenrodyellow; }

      .homeUser-top-core-left-btn { background-color: darkviolet; 
				display: flex;
				
			} 
    .homeUser-top-core-right { background-color: darkslateblue;
			display: flex;
			flex-direction: column;
		 } 
      .homeUser-top-core-right-header { background-color: slateblue; 
				display: flex;
				
			} 
      .homeUser-top-core-right-progress { background-color: mediumslateblue; 
				display: flex;
				flex-direction: column;
			} 
        .homeUser-top-core-right-progress-text { background-color: lightsteelblue;
					display: flex;
					flex-direction: column;
				 } 
          .homeUser-top-core-right-progress-text-box { background-color: lightslategray; 
						display: flex;
					} 
        .homeUser-top-core-right-progress-bar { background-color: darkkhaki; } 
          .homeUser-top-core-right-progress-bar-primary { background-color: khaki; } 

      .homeUser-top-core-right-up { background-color: darkorchid; 
				display: flex;
			} 
        .homeUser-top-core-right-up-desc { background-color: mediumorchid;
					display: flex;
					flex-direction: column;
				 } 
          .homeUser-top-core-right-up-desc-header { background-color: thistle;
						display: flex;
					 } 
        .homeUser-top-core-right-up-btn { background-color: plum;
					display: flex; 
				} 
					.homeUser-top-core-right-up-btn-header { background-color: plum;
						display: flex; 
					} 
      .homeUser-top-core-right-down { background-color: darksalmon; 
				display: flex;
				flex-direction: column;
			} 
        .homeUser-top-core-right-down-text { background-color: lightpink; } 
          .homeUser-top-core-right-down-text-bold { background-color: pink; } 
          .homeUser-top-core-right-down-text-light { background-color: lavenderblush; } 
        .homeUser-top-core-right-down-btn { background-color: lightcyan;
					display: flex;
				 } 